.toast-btn {
  height: 40px;
  line-height: 40px;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: medium;
  color: highlight($toast-blue);
  span {
    vertical-align: middle;
  }
  span[class*="icon-"] {
    font-size: xx-large;
  }
  &:disabled {
    color: highlight($toast-yellow);
  }
  &:not(:disabled) {
    &:hover {
      color: $toast-blue;
    }
    &:active, &:focus {
      background-color: transparentize(highlight($toast-yellow), 0.8);
    }
  }
}

.toast-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  border: none;
  outline-color: highlight($toast-blue);
  font-size: medium;
  font-family: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  &:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
