.hashtag-carousel {
  height: 110px;
  width: 95px;
  position: relative;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  span[class*="icon-"] {
    font-size: 50px;
    display: block;
    text-align: center;
    line-height: 100px;
  }
}
