@import "logo";
@import "toast-form";
@import "user-panel";

#sidebar {
  background-color: $toastYellow;
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
  padding: 10px;
  color: $toastBlue;
  .logo {
    width: 60%;
  }
  #toast-form {
    width: 100%;
  }
  hr {
    border: 1px solid transparentize($toastYellowHighlight, 0.6);
  }
}
