@import "variables";
@import "logo";
@import "toast-form";

#sidebar {
  background-color: $toastYellow;
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
  padding: 10px;

  #logo {
    width: 60%;
  }

  #toast-form {
    width: 100%;
  }
}
