@import "toast-card";

#toast-list {
  background-color: $toastyBlue;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-x: scroll;
  flex: auto;
  > div {
    display: flex;
    width: 0px;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
  }
}
