@import "toast-card";

#toast-list {
  background-color: $toastBlue;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-x: scroll;
  flex: auto;
  > div {
    display: flex;
    align-content: flex-start;
    flex-flow: column wrap;
    height: 100%;
  }
}
