@import "hashtag-carousel";

@mixin toast-card($background-color, $decoration-color, $text-color, $icon-color) {
  background-color: $background-color;
  color: $text-color;
  .header {
    border-bottom: solid 1px transparentize($decoration-color, 0.6);
    .toasted {
      color: $icon-color;
    }
  }
  .toast-body {
    .hashtag-carousel {
      color: $background-color;
      background-color: darken($background-color, 5);
    }
  }
}

.toast-card {
  @include toast-card(highlight($toast-blue), $toast-blue, white, $toast-yellow);
  &.toast-to-me {
    // BUG: Toasts to me are not highlighted.
    // @include toast-card($toast-yellow, highlight($toast-yellow), $toast-blue, highlight($toast-blue));
  }
  &:not(:focus) {
    height: 160px;
    .message-body {
      height: 120px;
    }
    .header {
      div:not(.toasted) {
        white-space: nowrap;
      }
    }
  }
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
  width: 360px;
  min-height: 160px;
  box-sizing: border-box;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  .header {
    padding: 0 4px 4px 4px;
    margin-bottom: 4px;
    display: flex;
    .toasted {
      height: 0;
      line-height: 0;
      display: flex;
      align-items: flex-end;
      font-size: 40px;
    }
    div:not(.toasted) {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .toast-body {
    display: flex;
    .hashtag-carousel {
      margin: 5px 10px 5px 5px;
    }
    .message-body {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 240px;
      .message {
        width: 100%;
        word-wrap: break-word;
        overflow: hidden;
      }
      .timestamp {
        font-size: small;
        width: 100%;
        text-align: right;
      }
    }
  }
}
