@import "toast-card";

#toast-list {
  background-color: $toast-blue;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-x: scroll;
  flex: auto;
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
}
