#user-panel {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: larger;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: $toast-blue;
  .user-picture {
    margin-right: 10px;
  }
  .username {
    flex: auto;
  }
  .logout button{
    height: 30px;
    line-height: 30px;
  }
}
